.card {
  border: 1px solid rgb(93, 93, 93);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.003);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card img {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(26, 26, 26);
}
.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}
